/* Reset for cross-browser consistency */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My style sheet */
* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-family: "Gochi Hand", cursive;
  font-size: 54px;
  background-color: #fff;
  background-image: linear-gradient(to right bottom, #ffffff, #8374a2);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h2 {
  font-size: 220%;
}
h3,
h4,
h5,
h6 {
  font-size: 160%;
  margin-bottom: 16px;
}

a {
  color: #4a74a2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  margin-bottom: 10px;
}

table {
  max-width: 560px;
  min-width: 560px;
  text-align: left;
  background-color: #b3c7dc;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 15px;
}

table th {
  text-align: center;
  color: #fff;
  background-color: #5c90c7;
  border: 1px solid #fff;
  border-radius: 15px 15px 0 0;
}

table tr:hover {
  background-color: #5c90c7;
}

table td {
  border: 1px solid #fff;
  padding: 6px;
}

table h4 {
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
  text-align: center;
  background: #668eb9;
  color: white;
  font-size: 22px;
  line-height: 2;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.flex p {
  margin-bottom: 1em;
}

.flex ul {
  padding-left: 14px;
  list-style: circle;
}
.flex ul li {
  padding-bottom: 0.5em;
}

.main {
  background-color: #fff;
  flex: 70%;
  padding: 20px;
  color: #444;
}

.main a {
  font-weight: bold;
}

.sidebar {
  background-color: #b3c7dc;
  flex: 30%;
  padding: 20px;
  color: #444;
}

.sidebar a {
  font-weight: bold;
}

.wrapper {
  text-align: center;
  max-width: 1024px;
  min-width: 450px;
}

.wrapper h3 {
  color: #668eb9;
  font-weight: bold;
}

.footer {
  background-color: #668eb9;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.foot-left {
  flex: 50%;
  padding: 20px;
}

.foot-right {
  flex: 50%;
  padding: 20px;
  text-align: right;
}

.item {
  font-weight: bold;
  color: #668eb9;
}

.branding {
  height: 30px;
  margin-bottom: 14px;
}

.change {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  vertical-align: baseline;
  display: inline-block;
  height: 20px;
  width: 68px;
  color: #fff;
  border: 1px solid #918686;
  border-radius: 6px;
}

.gain {
  background-color: rgb(83, 165, 83);
}

.loss {
  background-color: rgb(233, 94, 94);
}

.number {
  text-align: right;
}

.major {
  font-weight: bold;
}

.error__message {
  color: rgb(233, 94, 94);
  font-weight: bold;
}

.btn {
  border: 1px solid #668eb9;
  border-radius: 6px;
  background-color: #668eb9;
  background-image: linear-gradient(to right bottom, #668eb9, #93bae3);
  color: white;
  padding: 2px 6px 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  background-color: #537daa;
  background-image: linear-gradient(to right bottom, #315e8d, #668eb9);
}

.btn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.search__field {
  border: 1px solid #888;
  border-radius: 6px;
}

.search__field:focus {
  outline: 0px;
}

/* SLIDER */
.slider {
  max-width: 560px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  float: left;
  max-width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  position: relative;
  z-index: 10;
  border: none;
  background: #537daa;
  opacity: 0.7;
  font-family: inherit;
  color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.btn__left {
  position: relative;
  top: 105px;
  right: 290px;
}

.btn__right {
  position: relative;
  left: 290px;
  bottom: 160px;
}

.filler {
  width: 580px;
}

.dots {
  position: relative;
  bottom: 45px;
  left: 46%;
  transform: translateX(-50%);
  display: flex;
  height: 20px;
  width: 30px;
}

.dot {
  border: none;
  background-color: #537daa;
  opacity: 0.6;
  height: 11px;
  width: 9px;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dot:last-child {
  margin: 0;
}

.dot--active {
  opacity: 1;
}

#screener {
  min-height: 400px;
  padding: 10px;
  font-family: Helvetica, Sans-Serif;
  line-height: 1.4;
}

/* Specfic styles for mobile devices / screen width 600px and under */
@media screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  h1 {
    font-size: 200%;
  }