/* Reset for cross-browser consistency */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* My style sheet */
* {
  box-sizing: border-box;
}

body {
	background-color: #222;
    /* font-family: Helvetica, Sans-Serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 4vw;	
    /* text-transform: uppercase; */
}

}
h2 {
    font-size: 220%;
}
h3, h4, h5, h6 {
    font-size: 160%
}

a {
	color: #4A74A2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
    padding: 30px;
    text-align: center;
    background: #668eb9;
    color: white;
    line-height: 2;
}

.flex {  
    display: flex;
    flex-wrap: wrap;
	text-align: justify;	
}

.flex p {
	margin-bottom: 1em;
}

.flex ul {
	padding-left: 14px;
	list-style: circle;
}
.flex ul li {
	padding-bottom: 0.5em;	
}

.main {
	background-color: #ffe2d2;
	flex: 70%;
	padding: 20px;
    color: #444;
}

.main a {
    font-weight: bold;
}

.sidebar {
	background-color: #b3c7dc;
	flex: 30%;
	padding: 20px;
    color: #444;
}

.sidebar a {
    font-weight: bold;
}

.footer {
	background-color: #668eb9;	
    display: flex;
    flex-wrap: wrap;
	font-size: 0.7em;	
    color: #fff;
}

.foot-left {
	flex: 50%;
	padding: 20px;
}

.foot-right {
	flex: 50%;
	padding: 20px;	
	text-align: right;
}

.topnav {
    overflow: hidden;
    /* background: #d0750e;    */
    background: #B99166;
    position: relative;
}

.topnav #myLinks {
    float: left;
    position: relative;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    /* background: #d0750e; */
    background: #B99166;
    display: none;
    right: 0;
    top: 0; 
}

.topnav a:hover {
    background-color: #b3c7dc;
    color: black;
}

.home {
    /* background-color: #d0750e; */
    background: #B99166;
    color: white;
}

#screener {
    background:#fff;
    height: 400px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}


/* Specfic styles for mobile devices / screen width 600px and under */
@media screen and (max-width: 600px) {
  .flex {
	  flex-direction: column;
  }
  h1 {
	  font-size: 200%;
  }
  
  .topnav #myLinks {
      display: none;	
	  float: none;
  }

  .topnav a {
	  float: none;
      display: block;  
  }

  .topnav #myLinks a {
      border-top: 1px solid #b3c7dc;
  }

  .topnav a.icon {
      display: block;
      position: absolute;
 
  }
}