/* Reset for cross-browser consistency */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My style sheet */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 160%;
  margin-bottom: 16px;
}

a {
  color: #4a74a2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  margin-bottom: 10px;
}

table {
  max-width: 560px;
  min-width: 560px;
  text-align: left;
  background-color: #C5CED9;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #6679CA;
}

table th {
  text-align: center;
  color: #fff;
  background-color: #6679CA;
  background-image: linear-gradient(to bottom right, #D39FE5, #6679CA);
  border: 1px solid #fff;
  border-radius: 10px 10px 0 0;
}

table tr:hover {
  background-color: #B1E59F;
}

table td {
  border: 1px solid #fff;
  padding: 6px;
}

table h4 {
  margin: 0;
  padding: 0;
}

.expand {
 height: 30px;
}

#header {
  padding: 15px;
  text-align: center;
  background-color: #D39FE5;
  background-image: linear-gradient(to top left, #D39FE5, #6679CA);
  color: white;
  font-size: 22px;
  line-height: 2;
}

#header h1 {
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    font-weight: 100;
    color: #fff;
    background-size: 100%;
    margin-bottom: 0px;
  }
  
  #header h2 {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #B1E59F;
    text-shadow: 1px 1px 2px #546096;
  }

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.flex p {
  margin-bottom: 1em;
}

.flex ul {
  padding-left: 14px;
  list-style: circle;
}
.flex ul li {
  padding-bottom: 0.5em;
}

.main {
  background-color: #fff;
  flex: 68%;
  padding: 20px 20px 0px 20px ;
  margin: 20px 10px;
  color: #555;
  border-radius: 10px;
}

.main a {
  font-weight: bold;
}

.sidebar {
  font-family: 'Inter', sans-serif;
  background-color: #D39FE5;
  background-image: linear-gradient(to top, #D39FE5, #8696e0);
  flex: 28%;
  padding: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin: 20px 10px;
  border-radius: 10px;
}

.sidebar h2 {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px #546096;
  }

.sidebar a {
  font-weight: bold;
}

.wrapper {
  text-align: center;
  max-width: 1024px;
  min-width: 450px;
}

.wrapper h3 {
  color: #6679CA;
  font-weight: bold;
  text-shadow: 1px 1px #ffffff;
}

#footer {
  background-color: #D39FE5;
  background-image: linear-gradient(to right bottom, #D39FE5, #6679CA);
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 400;
}

.foot-left {
  flex: 50%;
  padding: 20px;
}

.foot-right {
  flex: 50%;
  padding: 20px;
  text-align: right;
}

.item {
  /* font-weight: bold; */
  color: #6679CA;
}

.branding {
  height: 30px;
  margin-bottom: 14px;
}

.change {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  vertical-align: baseline;
  display: inline-block;
  height: 20px;
  width: 68px;
  color: #fff;
  border-radius: 5px;
}

.gain {
  background-color: #6ab452;
}

.loss {
  background-color: #c7613f;
}

.number {
  text-align: right;
}

.major {
  font-weight: bold;
}

.error__message {
  color: rgb(233, 94, 94);
  font-weight: bold;
}

.btn {
  border: none;
  outline: none;
  position: relative;
  border-radius: 4px;
  background-color: #D39FE5;
  background-image: linear-gradient(to right bottom, #D39FE5, #6679CA);
  padding: 8px 12px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
    background-color: #6679CA;
    background-image: linear-gradient(to right bottom, #D39FE5, #6679CA);
    opacity: 1;
}

.btn:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.search__field {
  border: 1px solid #D39FE5;
  border-radius: 4px;
  padding: 8px 12px;
  position: relative;
  bottom: 1px;
}

.search__field:focus {
  outline: 0px;
}

/* SLIDER */
.slider {
  max-width: 560px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  float: left;
  max-width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  position: relative;
  z-index: 10;
  border: none;
  background-color: #D39FE5;
  background-image: linear-gradient(to right bottom, #D39FE5, #6679CA);
  /* opacity: 0.8; */
  font-family: inherit;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.btn__left {
  position: relative;
  top: 105px;
  right: 310px;
}

.btn__right {
  position: relative;
  left: 310px;
  bottom: 160px;
}

.filler {
  width: 580px;
}

.dots {
  position: relative;
  bottom: 45px;
  left: 46%;
  transform: translateX(-50%);
  display: flex;
  height: 20px;
  width: 30px;
}

.dot {
  border: none;
  background-color: #6679CA;
  opacity: 0.6;
  height: 11px;
  width: 9px;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dot:last-child {
  margin: 0;
}

.dot--active {
  opacity: 1;
}

.info {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #555;
}

#screener {
  min-height: 400px;
  padding: 10px 10px 0px 10px;
  font-family: Helvetica, Sans-Serif;
  line-height: 1.4;
}

/* Specfic styles for mobile devices / screen width 600px and under */
@media screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  h1 {
    font-size: 200%;
  }