/* Reset for cross-browser consistency */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My style sheet */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 160%;
  margin-bottom: 16px;
}

a {
  color: #4a74a2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table.stock_data {
  max-width: 560px;
  min-width: 560px;
  text-align: left;
  background-color: #c5ced9;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #6679ca;
}

table.stock_data th {
  text-align: center;
  color: #fff;
  background-color: #6679ca;
  background-image: linear-gradient(to bottom right, #d39fe5, #6679ca);
  border: 1px solid #fff;
  border-radius: 10px 10px 0 0;
  text-shadow: 1px 1px 2px #546096;
  padding-top: 4px;
}

table.stock_data tr:hover {
  background-color: #b1e59f;
}

table.stock_data td {
  border: 1px solid #fff;
  padding: 6px;
}

table.stock_data h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

.expand {
  height: 30px;
}

#header {
  padding: 6px 0px 8px 0px;
  text-align: center;
  background-color: #d39fe5;
  background-image: linear-gradient(to top left, #d39fe5, #6679ca);
  color: white;
  font-size: 22px;
  line-height: 2;
}

#header h1 {
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-weight: 100;
  color: #fff;
  text-shadow: 1px 1px 2px #546096;
  margin-bottom: 0px;
}

#header h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #b1e59f;
  text-shadow: 1px 1px 2px #546096;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.flex p,
ul li {
  margin-bottom: 14px;
}

.flex ul {
  padding-left: 14px;
  list-style: circle;
}

.main {
  flex: 68%;
  padding: 20px 20px 0px 20px;
  margin: 20px 10px;
  color: #555;
  border-radius: 10px;
}

.sidebar {
  font-family: "Inter", sans-serif;
  background-color: #d39fe5;
  background-image: linear-gradient(to top, #d39fe5, #8696e0);
  flex: 28%;
  padding: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-shadow: 1px 1px 2px #546096;
  margin: 20px 10px;
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 26px;
  font-weight: 400;
}

.sidebar a {
  color: #b1e59f;
}

.sidebar a:hover {
  color: #82d766;
}

.wrapper {
  text-align: center;
  max-width: 1024px;
  min-width: 450px;
}

.wrapper h3 {
  color: #6679ca;
  font-weight: bold;
}

#footer {
  background-color: #d39fe5;
  background-image: linear-gradient(to right bottom, #d39fe5, #6679ca);
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #546096;
}

.foot-left {
  flex: 50%;
  padding: 20px;
}

.foot-right {
  flex: 50%;
  padding: 20px;
  text-align: right;
}

.item {
  color: #6679ca;
}

.branding {
  height: 30px;
  margin-bottom: 14px;
}

.change {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: inline-block;
  padding-top: 3px;
  height: 24px;
  width: 68px;
  color: #fff;
  text-shadow: 1px 1px 2px #444546;
  border-radius: 5px;
}

.gain {
  background-color: #6ab452;
  background-image: linear-gradient(to right bottom, #6ce897, #2eb55d);
}

.loss {
  background-color: #b92d71;
  background-image: linear-gradient(to right bottom, #ea5ca0, #b92d71);
}

.number {
  text-align: right;
}

.error__message {
  position: relative;
  /* left: -10px; */
  display: inline-block;
  color: #c70f0f;
  border: 2px dotted #c70f0f;
  padding: 8px;
  border-radius: 4px;
}

.btn {
  border: none;
  outline: none;
  position: relative;
  background-color: #d39fe5;
  background-image: linear-gradient(to right bottom, #d39fe5, #6679ca);
  color: #fff;
  text-shadow: 1px 1px 2px #546096;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.search__btn {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.search__btn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.search {
  margin-bottom: 10px;
}

.search__field {
  border: 1px solid #d39fe5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 12px;
  position: relative;
  bottom: 1px;
}

.search__field:focus {
  outline: 0px;
}

/* SLIDER */
.slider {
  max-width: 560px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  float: left;
  max-width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  padding: 0;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  height: 30px;
  width: 30px;
  font-size: 22px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-bottom: 6px;
}

.btn__left {
  position: relative;
  top: 105px;
  right: 310px;
}

.btn__left:active {
  position: relative;
  top: 106px;
  right: 309px;
}

.btn__right {
  position: relative;
  left: 310px;
  bottom: 160px;
}

.btn__right:active {
  position: relative;
  left: 311px;
  bottom: 159px;
}

.dots {
  position: relative;
  bottom: 45px;
  left: 46%;
  transform: translateX(-50%);
  display: flex;
  height: 20px;
  width: 30px;
}

.dot {
  border: none;
  background-color: #6679ca;
  height: 11px;
  width: 9px;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.6;
}

.dot:last-child {
  margin: 0;
}

.dot--active {
  opacity: 1;
}

.info {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #555;
}

.info h3 {
  margin-top: 10px;
}

#screener {
  min-height: 400px;
  padding-top: 10px;
  line-height: 1.4;
}

/* Specific styles for mobile devices / screen width 660px and under */
@media screen and (max-width: 660px) {
  .flex {
    flex-direction: column;
  }
  #header {
    background-attachment: initial;
  }
  #header h1 {
    font-size: 32px;
  }
  #header h2 {
    font-size: 20px;
  }
  #footer {
    background-attachment: initial;
  }
  .sidebar {
    margin-right: 30px;
  }
  .slide {
    max-width: 90vw;
    min-width: 90vw;
  }
  .slider {
    max-width: 90vw;
    min-width: 90vw;
  }
  table.stock_data {
    max-width: 90vw;
    min-width: 90vw;
    table-layout: fixed;
  }
  .dots {
    display: none;
  }
  .slider__btn {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    font-size: 32px;
  }
  .btn__left {
    position: relative;
    top: 260px;
    right: 40px;
    z-index: 1;
  }
  .btn__left:active {
    position: relative;
    top: 261px;
    right: 41px;
  }
  .btn__right {
    position: relative;
    bottom: 20px;
    left: 40px;
    z-index: 1;
  }
  .btn__right:active {
    position: relative;
    bottom: 19px;
    left: 41px;
  }
}
